@import models.CompleteApplication
@import helper._

@import play.api.i18n._



@(app:CompleteApplication, reviewForm:Form[ReviewFormData])(implicit flash:Flash,messages:Messages)

@admin.admintemplate("application detail") {

    <div class="container">
        <h2>Application Details</h2>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <h4>Business Name:</h4>
                <h4>Business Address:</h4>
            </div>
            <div class="col-md-3">
                <h4>@app.company.name</h4>
                <h4>@app.coAddress.line1</h4>
                <h4>@app.coAddress.line2</h4>
                <h4>@app.coAddress.line3</h4>
                <h4>@app.coAddress.city</h4>
                <h4>@app.coAddress.county</h4>
                <h4>@app.coAddress.postcode</h4>
            </div>
            <div class="col-md-3">
                <h4>Business Sector:</h4>
                <h4>Trading Date:</h4>
                <h4>Legal Form:</h4>
                <h4>Current Full-time Jobs:</h4>
                <h4>Current Part-tme Jobs:</h4>
                <h4>URL:</h4>
            </div>
            <div class="col-md-3">
                <h4>@app.company.sector</h4>
                <h4>@app.company.tradingDate</h4>
                <h4>@app.company.legalForm</h4>
                <h4>@("%.1f".format(app.company.ftJobs))</h4>
                <h4>@("%.1f".format(app.company.ptJobs))</h4>
                <h4>@app.company.url</h4>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <h4>Applicant Full Name:</h4>
                <h4>NIN:</h4>
                <h4>D.O.B:</h4>
                <h4>Address:</h4>
            </div>
            <div class="col-md-3">
                <h4>@app.user.title @app.user.firstName @app.user.lastName</h4>
                <h4>@app.user.nin</h4>
                <h4>@app.user.dob</h4>
                <h4>@app.userAdrress.line1</h4>
                <h4>@app.userAdrress.line2</h4>
                <h4>@app.userAdrress.line3</h4>
                <h4>@app.userAdrress.city</h4>
                <h4>@app.userAdrress.county</h4>
                <h4>@app.userAdrress.postcode</h4>


            </div>
            <div class="col-md-3">
                <h4>Loan Amount:</h4>
                <h4>Term:</h4>
                <h4>Purpose:</h4>
                <h4>Expected new jobs created:</h4>
            </div>
            <div class="col-md-3">
                <h4>@java.text.NumberFormat.getCurrencyInstance.format(app.loanApplication.amount)</h4>
                <h4>@app.loanApplication.term months</h4>
                <h4>@app.loanApplication.loanPurpose</h4>
                <h4>@("%.1f".format(app.loanApplication.jobsCreated))</h4>

            </div>
        </div>
<div class="container-fluid">


        @app.loanApplication.getStatus match {


        case "Submitted" => {
            @form(action = routes.Admin.insertReviewData(), 'class -> "form-horizontal") {
                @textarea(reviewForm("comments"), '_label -> "Comments", 'placeholder -> "Comments", 'rows -> 5, 'cols -> 25)
                @checkbox(reviewForm("accepted"), '_label -> "Application Accept")
                @inputText(reviewForm("offerAPR"), '_label -> "Offer APR%")
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-success">@Messages("Complete Review")</button>
                    </div>
                </div>
            }
        }

        case _ => {
            <br>
            <hr>
            <div class="container-fluid">
                <h3>Loan Disbursed</h3>
                <div class="row">
                    <div class="col-md-3">
                        <h4 style="color:blue">
                            <p>Application Status:</p>
                            <p>Interest Rate ("apr"):</p>
                            <p>Reviewed On:</p>
                            <p>Reviewed By:</p>
                            <p>Comments:</p>
                        </h4>
                    </div>
                    <div class="col-md-3">
                        <h4 style="color:blue">
                            <p>@app.loanApplication.getStatus</p>
                            <p>@java.text.NumberFormat.getPercentInstance.format(app.loanApplication.offerAPR.getOrElse(0))</p>
                            <p>@app.loanApplication.reviewed</p>
                            <p>@app.loanApplication.reviewedBy</p>
                            <p>@app.loanApplication.comments</p>
                        </h4>
                    </div>
                </div>
            </div>
        }
    }
    @app.loanApplication.getStatus match {
    case "Accepted" => {

        <div class="col-md-3">
            <a href="@routes.Admin.disburseLoan(app.loanApplication.id)"><button class="btn btn-danger">Disburse Loan</button></a>
        </div>
    }
        case _ => {<h2>Some other case</h2>}
    }

</div>





    </div>
}

