@(apps:Seq[(java.sql.Timestamp,Long,String,String,BigDecimal,Int,String)])(implicit messages:Messages, flash:Flash)

@admin.admintemplate("view applications"){


    <div class="container">
        <h2>Applications Received</h2>
        <br>
        <table class="table table-hover">
            <tr>
                <th>Received</th>
                <th>Application ID</th>
                <th>Business Name</th>
                <th>Postcode</th>
                <th>Amount</th>
                <th>Term</th>
                <th>Status</th>
            </tr>
            @for(a <- apps){
                <tr>
                    <td>@a._1</td>
                    <td><a href="@routes.Admin.showApplication(a._2)">@a._2</a></td>
                    <td>@a._3</td>
                    <td>@a._4</td>
                    <td>£@("%.2f".format(a._5))</td>
                    <td>@a._6</td>
                    <td>@a._7</td>
                </tr>
            }
        </table>
    </div>

}