@(userDetailsForm:Form[UserDetailsFormData])(implicit messages: Messages, flash:Flash)
@import helper._
@import views.fieldConstructors.BSHelpers._
@import play.api.i18n._

@user.usertemplate("contact form"){

    <div class="container-fluid">
        @form(action=routes.AppForm.insertUserDetails(), 'class->"form-horizontal"){
            @select(field = userDetailsForm("title"),
                options = Seq("mr"->"Mr","mrs"->"Mrs"), '_label->"Title", 'placeholder->"Title")
            @inputText(userDetailsForm("firstName"),
                args= '_label -> "First Name", 'placeholder -> "First Name" )
            @inputText(userDetailsForm("middleName"),
                args= '_label -> "Middle Name", 'placeholder ->"Middle Name")
            @inputText(userDetailsForm("lastName"),
                args = '_label -> "Last Name", 'placeholder -> "Last Name",
                '_showConstraints -> false)
            @inputText(userDetailsForm("dob"),
                args = '_label -> "DOB", 'placeholder -> "yyyy-MM-dd", '_showConstraints->false)
            @inputText(userDetailsForm("nin"),
                args = '_label -> "National Ins No", 'placeholder -> "National Ins No", '_showConstraints->false)

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-info">@Messages("appform.next")</button>
                </div>
            </div>
        }
    </div>
}