@(contactForm:Form[ContactFormData])(implicit messages: Messages, flash:Flash)
@import helper._
@import play.api.i18n._

@main("contact form"){

    <div class="container-fluid">
        @form(action=routes.AppForm.insertContact(), 'class->"form-horizontal"){
            @select(field = contactForm("title"), options = Seq("mr"->"Mr","mrs"->"Mrs"),
                '_lable->"Title")
            @inputText(contactForm("firstName"), args= '_label -> "First Name", 'placeholder -> "First Name" )
            @inputText(contactForm("middleName"))
            @inputText(contactForm("lastName"))
            @inputText(contactForm("dob"))
            @inputText(contactForm("nin"))

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-info">@Messages("appform.next")</button>
                </div>
            </div>
        }

    </div>
}