@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)(implicit messages: Messages, flash: Flash)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main(Messages("application.name")) {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@

    <div class="container-fluid">

        <h2>@message</h2>

    </div>

}
