@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)(implicit messages: Messages)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main(Messages("application.name")) {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@

    <div class="container-fluid">
        <div class="jumbotron">
            <h1>@Messages("application.name")</h1>
        </div>
        <br>
        <div class="container-fluid">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="indexEmail" class="col-md-2 control-label">Email</label>
                    <div class="col-md-4" id="inputEmail">
                        <input type="email" class="form-control" id="indexEmail" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="indexPswd" class="col-md-2 control-label">Password</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" id="indexPswd" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">Remember me
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="checkbox">
                            <label>not registered? <a href="@routes.HomeController.register">
                            @Messages("application.register")</a></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-info">@Messages("application.signin")</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

}
