
@(userForm:Form[UserRegisterFormData])(implicit messages: Messages, flash: Flash)

@import play.api.i18n._
@import helper._
@import views.fieldConstructors.BSHelpers._

@user.usertemplate(Messages("application.register")) {

        <div class="container-fluid">

            @if(userForm.hasGlobalErrors){
                <ul>
                    @userForm.globalErrors.map{error =>
                      <li>@error.message</li>
                    }
                </ul>
            }


            @helper.form(action= routes.Application.insertUser(), 'class -> "form-horizontal"){
                @inputText(userForm("email"), args = '_id->"email", 'type->"email",'_label->"Email",
                    '_showConstraints->false, '_showErrors->true, 'placeholder->"Email")(textInputGroup,implicitly)
                @inputPassword(userForm("password"), args = '_id->"password", 'type->"password",
                    '_label->"Password", '_showConstraints->false, '_showErrors->true, 'placeholder->"Password")(textInputGroup,implicitly)
                @inputPassword(userForm("confirmPswd"), args= '_id->"confirmPswd", 'type->"password",
                    '_label->"Re-enter password", '_showConstraints->false, '_showErrors->true,
                    'placeholder->"Re-enter password")
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-success">@Messages("application.register")</button>
                    </div>
                </div>
            }

        </div>


}




